$SIDEMENU_TOP:#34AEE1;
$SIDEMENU_BOTTOM:#34AEE1;
$SIDEMENU_TRANSPARENCY:rgba(255,255,255,0.4);


.side-menu-item{
    background:none;
    color:white;
    font-weight:300;
    border:0px;
    
    .item-content{
        background:none;
        &.activated{
            background:$SIDEMENU_TRANSPARENCY;
        }
    }
    
    &.active-pagehighlight{
        .item-content{
             background:$SIDEMENU_TRANSPARENCY;
        }
    }
}

.scroll-content{
    overflow-y: hidden;
    top:0px !important;
    background:-webkit-linear-gradient(left top,#34AEE1,#34AEE1);
    background:-o-linear-gradient(bottom right,#34AEE1,#34AEE1);
    background:-moz-linear-gradient(bottom right,#34AEE1,#34AEE1);
    background:-linear-gradient(to bottom right,#34AEE1,#34AEE1);
}

.toolbar{
    display:none;
}

.item-ios{
    background:-webkit-linear-gradient(left top,#34AEE1,#34AEE1);
    background:-o-linear-gradient(bottom right,#34AEE1,#34AEE1);
    background:-moz-linear-gradient(bottom right,#34AEE1,#34AEE1);
    background:-linear-gradient(to bottom right,#34AEE1,#34AEE1);
}
.item-md{
    background:-webkit-linear-gradient(left top,#34AEE1,#34AEE1);
    background:-o-linear-gradient(bottom right,#34AEE1,#34AEE1);
    background:-moz-linear-gradient(bottom right,#34AEE1,#34AEE1);
    background:-linear-gradient(to bottom right,#34AEE1,#34AEE1);
}
.item-wp
{
    background:-webkit-linear-gradient(left top,#34AEE1,#34AEE1);
    background:-o-linear-gradient(bottom right,#34AEE1,#34AEE1);
    background:-moz-linear-gradient(bottom right,#34AEE1,#34AEE1);
    background:-linear-gradient(to bottom right,#34AEE1,#34AEE1);
}
.profile-image{
    img{
        border-radius:50%;
        margin:10px;
        border:4 solid  $SIDEMENU_TRANSPARENCY;
    }
}